GG filter=lfs diff=lfs merge=lfs -text
Unity.XR.Interaction.Toolkit.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Interaction.Toolkit.Samples.ARStarterAssets.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Interaction.Toolkit.Samples.StarterAssets.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Simulation.csproj filter=lfs diff=lfs merge=lfs -text
Library filter=lfs diff=lfs merge=lfs -text
Unity.Timeline.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARSubsystems.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.CoreUtils.csproj filter=lfs diff=lfs merge=lfs -text
UnityEngine.SpatialTracking.csproj filter=lfs diff=lfs merge=lfs -text
Assembly-CSharp.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualStudio.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARFoundation.VisualScripting.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARKit.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARFoundation.InternalUtils.csproj filter=lfs diff=lfs merge=lfs -text
Unity.CollabProxy.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.EditorCoroutines.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.InternalAPIEditorBridge.007.csproj filter=lfs diff=lfs merge=lfs -text
UnityEditor.TestRunner.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Settings.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Interaction.Toolkit.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.Core.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.SettingsProvider.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Interaction.Toolkit.Samples.StarterAssets.csproj filter=lfs diff=lfs merge=lfs -text
UnityEngine.TestRunner.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARCore.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARKit.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARFoundation.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Management.csproj filter=lfs diff=lfs merge=lfs -text
wand.apk filter=lfs diff=lfs merge=lfs -text
Unity.InputSystem.ForUI.csproj filter=lfs diff=lfs merge=lfs -text
Unity.InputSystem.TestFramework.csproj filter=lfs diff=lfs merge=lfs -text
Unity.TextMeshPro.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Tutorials.Authoring.Editor.csproj filter=lfs diff=lfs merge=lfs -text
GG.sln filter=lfs diff=lfs merge=lfs -text
Unity.Mathematics.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.Shared.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARFoundation.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Searcher.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Tutorials.Core.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.State.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Management.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.CoreUtils.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Interaction.Toolkit.Samples.ARStarterAssets.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Simulation.Editor.csproj filter=lfs diff=lfs merge=lfs -text
UnityEditor.XR.LegacyInputHelpers.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Timeline.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Tutorials.Core.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARCore.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARSubsystems.csproj filter=lfs diff=lfs merge=lfs -text
GG_BurstDebugInformation_DoNotShip filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARAnalytics.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.State.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARFoundation.VisualScripting.csproj filter=lfs diff=lfs merge=lfs -text
Unity.InputSystem.csproj filter=lfs diff=lfs merge=lfs -text
Unity.TextMeshPro.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.Flow.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.Flow.csproj filter=lfs diff=lfs merge=lfs -text
Unity.InternalAPIEngineBridge.007.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Mathematics.Editor.csproj filter=lfs diff=lfs merge=lfs -text
UnityEditor.SpatialTracking.csproj filter=lfs diff=lfs merge=lfs -text
UnityEngine.XR.LegacyInputHelpers.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.Core.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.ARKit.FaceTracking.csproj filter=lfs diff=lfs merge=lfs -text
obj filter=lfs diff=lfs merge=lfs -text
Assets filter=lfs diff=lfs merge=lfs -text
Unity.Burst.CodeGen.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Burst.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VSCode.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Burst.csproj filter=lfs diff=lfs merge=lfs -text
Unity.PlasticSCM.Editor.csproj filter=lfs diff=lfs merge=lfs -text
